.book-info
   .container
      .column-wrapper
         .column.one
            img(src="images/books/book-1.png")
            .newpiece-wrapp
               .newpiece.true
                  img(src="/images/books/portret-2.png").newpiece__image
                  .newpiece__info
                     .newpiece__date Тал Бен-Шахар
                     .newpiece__title(data-ng-init="aboutAuthorLimit = 80") {{aboutAuthor | maxSymbols:aboutAuthorLimit}}
                     a.link.more.bottom-line(data-ng-show="aboutAuthorLimit < 1000000" data-ng-click="aboutAuthorLimit = aboutAuthorLimit * 1000000") развернуть &#8595;
                     a.link.more.bottom-line(data-ng-show="aboutAuthorLimit > 1000000" data-ng-click="aboutAuthorLimit = aboutAuthorLimit / 1000000") свернуть &#8593;
               .clearfix
         .column.two
            .book-application
               p.category Раздел "Новинки"
               p.slogan Что ты выберешь?
               p.title Тал Бен-Шахар
               .chose-book-type
                  ul.type-toggler(data-tabs="")
                     li.item
                        a.link.active(href="#book-type-one" data-tab-toggler="") бумажная книга
                     li.item
                        a.link(href="#book-type-two" data-tab-toggler="") электронная
                  .price-block
                     .item#book-type-one
                        span.price-wrapper
                           span.price 210&nbsp;
                           span.currency гривен
                        .by-link-wrapper
                           a.by-link купить
                        .clearfix
                     .item#book-type-two
                        span.price-wrapper
                           span.price 110&nbsp;
                           span.currency гривен
                        .by-link-wrapper
                           a.by-link купить
                        .clearfix

            .newpiece-wrapp
               .newpiece.true
                  .newpiece__info
                     .newpiece__date О книге
                     .newpiece__title(data-ng-init="aboutBookLimit = 400") {{aboutBook | maxSymbols:aboutBookLimit}}
                     a.link.more.bottom-line(data-ng-show="aboutBookLimit < 1000000" data-ng-click="aboutBookLimit = aboutBookLimit * 1000000") развернуть &#8595;
                     a.link.more.bottom-line(data-ng-show="aboutBookLimit > 1000000" data-ng-click="aboutBookLimit = aboutBookLimit / 1000000") свернуть &#8593;
               .clearfix

.book-preview
   .container
      .book-preview-plug
         img.book-icon(src="images/book-plug.png")
         a.book-preview-arrow.prev(data-book-preview-arrow-prev="" href="#preview-1") ❰
         a.book-preview-arrow.next(data-book-preview-arrow-next="" href="#preview-1") ❱
         .bb-bookblock(data-book-preview="" id="preview-1")
            .bb-item
               img.page-icon(src="images/books/05.png")
            .bb-item
               img.page-icon(src="images/books/05.png")
            .bb-item
               img.page-icon(src="images/books/05.png")
            .bb-item
               img.page-icon(src="images/books/05.png")

      .subscribal__form
         input.subscribal__input(type="text", placeholder="Получитеглаву на ваш e-mail")
         button.subscribal__button получить →

.book-review
   .container
      p.section-title Отзывы о книге
      .review-list
         .newpiece.true
            img(src="/images/books/lady-small.jpg").newpiece__image
            .newpiece__info
               span.newpiece__title.italic Тал Бен-Шахар уже больше 10 лет изучает и преподает тему счастья. Тал Бен-Шахар уже больше 10 лет изучает и преподает тему счастья.
               .bottom-line.author Гретхен Рубин
         .newpiece.true
            img(src="/images/books/lady-small-2.png").newpiece__image
            .newpiece__info
               span.newpiece__title.italic Тал Бен-Шахар уже больше 10 лет изучает и преподает тему счастья. Тал Бен-Шахар уже больше 10 лет изучает и преподает тему счастья.
               .bottom-line.author Марси Шимофф
         .newpiece.true
            img(src="/images/books/lady-small-2.png").newpiece__image
            .newpiece__info
               span.newpiece__title.italic Тал Бен-Шахар уже больше 10 лет изучает и преподает тему счастья.
               .bottom-line.author Марси Шимофф
         .newpiece.true
            img(src="/images/books/lady-small.jpg").newpiece__image
            .newpiece__info
               span.newpiece__title.italic Тал Бен-Шахар уже больше 10 лет изучает и преподает тему счастья.
               .bottom-line.author Гретхен Рубин

.book-description
   .container
      .column-wrapper
         .column.one
            .book-icon-wrapp
               img.book-icon(src="images/books/book-3.png")
         .column.two
            .book-application
               p.category Раздел "Новинки"
               p.slogan Что ты выберешь?
               p.title Тал Бен-Шахар
               .chose-book-type
                  ul.type-toggler(data-tabs="")
                     li.item
                        a.link.active(href="#book-type-one-2" data-tab-toggler="") бумажная книга
                     li.item
                        a.link(href="#book-type-two-2" data-tab-toggler="") электронная
                  .price-block
                     .item#book-type-one-2
                        span.price-wrapper
                           span.price 210&nbsp;
                           span.currency гривен
                        .by-link-wrapper
                           a.by-link купить
                        .clearfix
                     .item#book-type-two-2
                        span.price-wrapper
                           span.price 110&nbsp;
                           span.currency гривен
                        .by-link-wrapper
                           a.by-link купить
                        .clearfix

            ul.book-detail-info
               li.item(data-ng-repeat="item in bookInfo")
                  span.label(data-ng-if="item.title") {{item.title}}:
                  span.value  {{item.value}}

.banner
   .container
      p.banner-title Мы ценим Вашу лояльность!
      p.banner-title Книги из Вашей любимой серии "Бизнес" со скидкой -20%
      button.subscribal__button к разделу