.offer-book
    .container
        .section-title Предложите Издатеьству свою книгу
        p.info-block Для нас большая честь получать рукописи, которые присылают нам авторы, и рассматривать их на предмет издания у нас в компании. Правда, мы заранее должны предупредить вас, что из-за множества предложений, мы не в силах рассмотреть и дать ответ по вашему произведению быстрее чем за 1 месяц. Если нас заинтересует ваше произведение, мы начнем с вами переговоры по приобретению прав на его издание.
        p Рукописи каких произведений мы не рассматриваем (пожалуйста, не присылайте их нам):
        br
        ul
            li 1. Написанные от руки.
            li 2. Мистические, а также связанные с оккультными практиками и науками, магией, экстрасенсорной практикой. 
            li 3. Игральными и гадальными картами, гаданиями, нумерологией и астрологией.
            li 4. Других (не христианской) религий.
        br
        ul
            li 1. Отрывок из произведения нужно высылать только после нашего запроса. 
            li 2. Условия публикации обсуждаются только после одобрения произведения. 
            li 3. Мы не возвращаем рукописи и не рецензируем их.
        br
        p Чтобы подать заявку, пожалуйста, заполните заявку ниже. 
        .feedback
            .feedback__inner
                .row
                    .feedback__title Заявка
                    .feedback__rect
                    .feedback__square
                .row
                    .col-lg-6
                        .row
                            label(for="feedbackMessage1") Название произведения
                            input(id="feedbackMessage1" type="text")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackMessage1") Содержание
                            textarea(id="feedbackMessage1")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackName") Жанр и тема произведения
                            input(id="feedbackName" type="text")
                .row
                    .col-lg-6
                        .row
                            label(for="feedbackMessage1") Язык
                            input(id="feedbackMessage1" type="text")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackPhone") Предпологаемый круг и уровень подготовки читателей
                            input(id="feedbackPhone" type="text")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackEmail") Аннотация для нон-фикшн или синопсис для художественного произведения (не более 500 знаков)
                            textarea(id="feedbackEmail")
                .row
                    .col-lg-6
                        .row
                            label(for="feedbackMessage1") Объем произведения в знаках с пробелами
                            input(id="feedbackMessage1" type="text")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackMessage1") Основные  отличия предлагаемого издания от существующих (конкурентные преимущества)
                            input(id="feedbackMessage1" type="text")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackMessage1") Если есть таковые, то название ранее изданных произведения/ий, издатель и год выхода
                            input(id="feedbackMessage1" type="text")
                .row
                    .col-lg-12
                        .row
                            label(for="feedbackMessage1") Ваши предложения по продвижению книги.
                            input(id="feedbackMessage1" type="text")
                .row
                    .row
                        .col-lg-4
                            label(for="feedbackName") Ваше ФИО
                            input(id="feedbackName" type="text")
                        .col-lg-4
                            label(for="feedbackPhone") Контактный телефон
                            input(id="feedbackPhone" type="text")
                        .col-lg-4
                            label(for="feedbackEmail") Электронный адрес
                            input(id="feedbackEmail" type="text")
                .row
                    button.feedback__submit отправить →
        p.info-block
            span.color-red Какие рукописи мы не рассматриваем и произведения не издаем:
            br
            span мистическую литературу или литературу с элементами мистики. То же касается оккультизма, других (не христианских) религий, карт, гаданий, нумерологии и астрологии. Пожалуйста, не присылайте намподобные рукописи.
        p.info-block
            span Отрывок из произведения нужно высылать после нашего запроса. Срок рассмотрения предложений авторов в нашем издательстве не менее 1 месяца. Условия публикации обсуждаются только после одобрения произведения. Рукописи не возвращаются и не рецензируются.