extends ../includes/layout

block main-content
    .header-false#header-false
    .header-wrapp
        .header(data-transparent-header="transparentHeader")
            .header__inner
                .header__line
                    .socials
                        a.socials__item
                            i.fa.fa-facebook-square
                        a.socials__item
                            i.fa.fa-twitter-square
                        a.socials__item
                            i.fa.fa-instagram
                        a.socials__item
                            i.fa.fa-pinterest-square
                .header__line
                    a(href="/").logo
                    ul.menu
                        li.menu__item
                            a.menu__link(ng-click="subMenuOpen('books')", ng-class="{active: subMenuMarkers.booksVisible}") Книги
                        li.menu__item
                            a.menu__link(ng-click="subMenuOpen('authors')", ng-class="{active: subMenuMarkers.authorsVisible}") Авторы
                        li.menu__item
                            a.menu__link(ng-click="subMenuOpen('more')", ng-class="{active: subMenuMarkers.moreVisible}") Больше
                        li.menu__item
                            a.menu__link(ng-click="subMenuOpen('login')", ng-class="{active: subMenuMarkers.loginVisible}") Войти к себе
                        li.menu__item(ng-click="subMenuOpen('search')")
                            i.fa.fa-search
    .localization
        a.localization__btn.active РУС
        a.localization__btn УКР
    .sub-menu(ng-class="{'sub-menu_visible': subMenuMarkers.booksVisible}")
        .container.categories
           a.categories__item(href="/category/1") Бизнес
           a.categories__item(href="/category/2") Биографии и мемуары
           a.categories__item(href="/category/3") Детские
           a.categories__item(href="/category/4") Здоровье
           a.categories__item(href="/category/5") Мужчина и женщина
           a.categories__item(href="/category/6") Политика
           a.categories__item(href="/category/7") Родителям
           a.categories__item(href="/category/8") Саморазвитие
           a.categories__item(href="/category/9") Христианство
           a.categories__item(href="/category/10") Художественные
           a.categories__item.categories__item_fancy(href="/category/11") Подарок мужчине
           a.categories__item.categories__item_fancy(href="/category/12") В подарок женщине
           a.categories__item.categories__item_fancy(href="/category/13") В отпуск
    .sub-menu(ng-class="{'sub-menu_visible': subMenuMarkers.authorsVisible}")
        .container.categories
           .h3 Авторы
    .sub-menu(ng-class="{'sub-menu_visible': subMenuMarkers.moreVisible}")
        .container.categories
            .container.categories
                a.categories__item Где купить наши книги
                a.categories__item Для авторов
                a.categories__item Контакты
                a.categories__item Об издательстве
    .sub-menu(ng-class="{'sub-menu_visible': subMenuMarkers.loginVisible}")
        .container.categories
            div.login-form
                .row
                    .input-wrapp.login
                        input.subscribal__input.input
                .row
                    .input-wrapp.pass
                        input.subscribal__input.input(type="password")
                        button.enter-btn
    .sub-menu(ng-class="{'sub-menu_visible': subMenuMarkers.searchVisible}")
        .container.categories
           .h3 Поиск
    .main.view-animate(ng-view data-scroll-top)
    .container
        .footer.h6
            .row
                .col-lg-4 © Брайт Букс
                    p
                        a.underline.text-darkgray Условия предоставления услуг
                .col-lg-3 Адрес:
                    div А/я 194, Украина
                    div Киев, 02002
                .col-lg-3 Мы принимаем к оплате
                    div
                        img(src="/images/icons/visa.png")
                        span &nbsp;
                        img(src="/images/icons/mastercard.png")
                .col-lg-2 Следуйте за нами
                    .socials.socials_footer
                        a.socials__item
                            i.fa.fa-facebook-square
                        a.socials__item
                            i.fa.fa-twitter-square
                        a.socials__item
                            i.fa.fa-instagram
                        a.socials__item
                            i.fa.fa-pinterest-square