.news-page
    .container
        .newpiece.true.full-with
            img(data-ng-src="/images/books/running-man.jpg").newpiece__image
            .newpiece__info
                .section-title 10 шагов к креативности
                span.newpiece__title.italic Новаторы и креативные личности находят интересную идею, придумывают пути ее воплощения и представляют миру свое изобретение. И удивительная вещь – такие способности есть у каждого. Главный вопрос: как подружиться со своим творческим началом?
                .bottom-line.author
                    a.color-red.underline к статье &nbsp;
                        i.fa.fa-long-arrow-right
        .table
            .cell.one
                .shell
                    img(data-ng-src="/images/books/kid.jpg").img
                    .newpiece.true.full-with
                        .newpiece__info
                            .section-title Скидка для девочек
                            span.newpiece__title.italic Новаторы и креативные личности находят интересную идею, придумывают пути ее воплощения и представляют...
                            .bottom-line.author
                                a.color-red.underline к статье &nbsp;
                                    i.fa.fa-long-arrow-right
            .cell.two
                .shell
                    img(data-ng-src="/images/books/fon.jpg").img
                    .newpiece.true.full-with
                        .newpiece__info
                            .section-title Рисование. Полное руководство
                            span.newpiece__title.italic Мы подготовили для Вас книги, которые научат придумывать и зарисовывать свои идеи. О, да, эти книги способны превратить самого нетворческого левополушарного «технаря» в креативного и смелого художника. Научат рисовать спонтанно и по шагам.
                            .bottom-line.author
                                a.color-red.underline к статье &nbsp;
                                    i.fa.fa-long-arrow-right