.bg-about(data-set-transparent-header="" data-set-white-color-header="")
.about
    .container
        .section-title Об издательстве
        p.info-block Издательство "Светлая звезда" начало свою работу в 1999 году. В 2009 было переименовано в "Брайт Стар Паблишинг". Издает книги под марками "Светлая звезда", "Брайт Букс", и "Брайт Чилдрен".
        P.info-block Мы издаем книги, которые способны изменить к лучшему жизни людей. Мы верим, что книги должны не просто развлекать, но и учить и поднимать прекрасное и доброе, что есть в людях, проявлять яркие стороны их жизни, поднимать на высоту достойное и опускать ветхое и мертвое. Мы издаем книги, которые вдохновляют и вселяют надежду. Мы издаем лучшее из того, что видим и ценим. Мы знаем, что только понятная и приятная, как жизненный принцип, истина может сделать человека по настоящему свободным и счастливым.
        p.info-block Мы верим в Бога и в силу слова. Мы верим, что созданы Богом и созданы похожим на Него. Мы верим, что делаем то, что Он поручил нам.
        .bottom-block
            img.autograph(src="/images/autograph.png")
            p.color-red Дмитрий Кириченко
            p Президент Издательства