.bg-about
  height 600px
  background url("../images/about_bg.jpg") center bottom
  background-size cover
  background-repeat no-repeat

.about
  padding-top 40px
  font-size 20px
  font-size 13pt

  .bottom-block
    text-indent 1.5em
    line-height 1.8
    margin-top 20px