.view-animate {
  opacity: 1;
}

.view-animate.ng-enter, .view-animate.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
}

.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}

.view-animate.ng-leave.ng-leave-active {
  display: none;
}

@keyframes menu-scrolld
  from
    transform: rotateX(-90deg)
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  to
    transform: rotateX(0deg)
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;