.book-info
  padding-bottom 40px

  .column-wrapper
    font-size 0
    display table
    width 100%

    .column
      display: table-cell
      width 50%

      &.one
        padding-right 20px
        vertical-align bottom

        .book-img
          max-width 600px

      &.two
        padding-left 20px
        vertical-align bottom

        .newpiece-wrapp
          margin-top 20px


.book-application
  display: inline-block;
  &.with-bg
    background rgba(255, 255, 255, 0.7)
    padding 30px

  .category
    font-size 14pt
    color darkbordergray

  .slogan
    font-size 25pt
    margin-top 20px

  .title
    font-size 17pt
    text-decoration underline
    color red
    margin-top 20px

  .chose-book-type
    width 300px
    border 2px solid red
    border-radius 3px
    margin-top 50px

    .type-toggler
      display table
      font-size 0
      width 100%
      table-layout fixed
      border-bottom 2px solid red

      .item
        display table-cell

        &:first-child
          border-right 2px solid red

        .link
          display inline-block
          width 100%
          text-align center
          font-size 12pt
          line-height: 50px

          &.active
            background palered
            color #fff !important


    .price-block
      .item
        line-height 80px
        font-size 15pt
        padding 0 30px

        .price-wrapper
          float left

          .price
            font-size 25pt
            color: #000
            top: -3px;
            position: relative;

          .currency
            vertical-align top

        .by-link-wrapper
          float right

        .by-link
          color red !important
          text-decoration underline !important

          &:hover
            text-decoration none !important

.book-preview
  padding-top 80px
  padding-bottom 40px
  background url("../images/bg-book-preview.jpg") no-repeat center
  background-size cover
  text-align center

  .book-preview-plug
    position relative
    display inline-block

  .bb-bookblock
    height 536px
    width 704px
    position absolute
    top: 15px;
    left: 63px;

  .book-preview-arrow
    position: absolute
    top 50%
    margin-top -62px
    transition .5s
    width 100px
    height 100px
    background-size contain

    &.prev
      left -100px
      background-image url(../images/icons/left-arrow.png)

    &.next
      right -100px
      background-image url(../images/icons/right-arrow.png)

    &:hover
      &.prev
        left -105px

      &.next
        right -105px


&.prev
      left -70px

    &.next
      right -70px

  .book-icon
    display inline-block
    height 600px

  .page-icon
    display inline-block
    height 536px

.book-review
  padding 50px 0

  .review-list
    margin-top 20px
    overflow hidden

.book-description
  background-repeat no-repeat
  background-position center
  background-size cover
  padding 100px 0 50px

  .column-wrapper
    display table
    font-size 0
    width 100%

    .column
      display table-cell
      vertical-align top
      width 50%

      &.one
      .book-icon-wrapp
        height 700px

        .book-icon
          height 700px
          position: absolute;
      &.two
        .book-application
          position relative
          z-index 10

          .category
            color red

.book-detail-info
  background #fff
  opacity .5
  padding 20px
  display inline-block
  margin-top 80px

  .item
    margin-top 10px

    .label,
    .value
      font-size 12pt
