.bg-contacts
  height 600px
  background url("../images/bg-contacts.jpg") center bottom
  background-size cover
  background-repeat no-repeat

.contacts
  padding-top 40px
  font-size 20px

  .contacts-block
    margin-top 50px
    display table
    width 100%
    font-size 0

    .column
      padding-left 150px
      width 50%
      display table-cell

      .item
        font-size 20px

  .bottom-block
    margin-top 50px

  .feedback
    input[type="text"]
      width 100%