.produce-book
  padding-top 100px
  font-size 15pt

  .info-block
    padding 40px 40px 0

  .feedback
    input[type="text"]
      width 100%

    .book-props
      font-size 0
      margin-top 15px

      .item
        display inline-block
        margin-left 30px

        &:first-child
          margin-left 0

        .prop-label,
        .checkbox
          display inline-block
          vertical-align middle

        .prop-label
          margin-left 10px