.desc
  &.rubric
    padding-bottom 2px

    &.type-1
      background #EA43F5

      .special-head
        background #962fa3
        padding 20px 0
        position relative

        .rubric-filters
          background #962fa3
          position absolute
          left 0
          right 0
          top 100%

        .info-block
          padding 10px 0
          color #fff
          text-align center
          text-indent 0

        .buttons-wrapper
          margin-top 5px
          font-size 0
          text-align center

          .item
            display inline-block
            margin-left 20px

            &:first-child
              margin-left 0

.rubric-books-list
  font-size 0
  text-align center

  .item
    display inline-block

    .link
      padding 20px

      .img
        width 200px

.rubric-filters
  font-size 0
  padding 0 0 70px
  text-align center
  display none

  .item
    display inline-block
    margin 50px 50px 0

    .checkbox
      width 20px
      height 20px
      border 3px solid #5e7cff
      vertical-align middle

    input[type="checkbox"]:checked + .checkbox
      border-color: brightred

    .label
      color #fff
      font-size 12pt
      margin-left 10px
      vertical-align middle