@import vars

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf') format("truetype");
}

*
  font-family: Lato
  outline none

a, button
  cursor: pointer !important

a
  color black !important
  text-decoration none !important

a:hover
  color red !important
  text-decoration: none !important

html, body
  height: 100%

label
  cursor: pointer

//-----HEADER-----

.header
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  color red !important
  background: #ffffff
  z-index 1000
  border-bottom 1px solid bordergray
  padding-bottom 19px

.header__inner
  width: 1050px
  margin: 0 auto
  padding-right: 20px

.header__line
  width: 100%
  float: left

.socials
  float: right
  margin: 40px 10px 0 0

.socials__item
  width: 32px
  height: 32px
  margin-left: 5px;
  display: inline-block

.socials__fb
  background-image url("../images/icons/fb.png")
.socials__tw
  background-image url("../images/icons/twitter.png")
.socials__inst
  background-image url("../images/icons/instagram.png")
.socials__pin
  background-image url("../images/icons/pinterest.png")

.logo
  background-color: #fff
  background-image url("../images/logo.png")
  height 45px
  width: 303px
  display: block
  float: left
  -webkit-background-size: cover
  background-size: cover

.menu
  display: block
  float: right
  list-style none
  margin-right: 20px

.menu__item
  @extend .h6
  display: inline-block
  margin-left 30px

.menu__item .menu__link
  width: 12px
  height: 6px
  background-position right
  padding-right 30px
  background-repeat no-repeat
  background-image url("../images/icons/brace-down.png")

.menu__item .menu__link.active, .menu__item menu__link:hover
  background-image url("../images/icons/brace-up.png")
  color red !important

.search-btn
  background-image url("../images/icons/search.png")
  width: 20px
  height 19px
  display: block
  float: right
  background-position bottom
  background-repeat no-repeat

.search-btn:hover, .search-btn.active
  background-image url("../images/icons/search-red.png")


//-----SUBMENU-----

.sub-menu
  margin-top  150px
  background lightergray
  width: 100%
  max-height 0
  overflow: hidden
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in

.sub-menu_visible
  max-height 240px
  border-bottom 1px solid bordergray
  padding 20px 0
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in

.categories__item
  @extend .h4
  display: inline-block
  margin-right 40px
  margin-top: 20px

.categories
  text-align: center

.categories__item_fancy
  @extend .georgia

//----LOCALIZATION-----

.localization
  @extend .h6
  -webkit-transform: rotate(-90deg)
  -moz-transform: rotate(-90deg)
  -ms-transform: rotate(-90deg)
  -o-transform: rotate(-90deg)
  transform: rotate(-90deg)
  position absolute
  top 235px

.localization__btn
  margin-right 20px

.localization__btn.active
  color red !important

//-----SLIDER-----

.slider
  margin: 45px auto 0 auto
  overflow: hidden
  width: 1050px
  height 400px

.slider__left-side
  margin-right: 80px
  float: left
  height: 100%

.slider__left-side img
  height 100%

.slider__right-side
  float: left
  height: 100%
  position: relative
  padding-bottom 30px
  margin-bottom -20px
  box-sizing padding-box

.slider__right-side img
  height 100%
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);

.slider__text-small
  @extend .h6
  position: absolute
  top 150px
  left: 40px

.slider__text-big
  @extend .h1
  color red
  position: absolute
  left 40px
  bottom 40px
  width: 350px


//-----BOOKSLIST-----

.books-list
  margin-top: 25px
  min-height 250px

.book
  float: left
  margin-left 48px
  position: relative
  cursor: pointer
  width: 170px

.book:first-child
  margin-left: 32px

.book__img
  position absolute
  top 0
  width: 170px

.book__details
  width: 100%
  margin-top: 150px
  text-align: center
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in

.book:hover .book__details
  margin-top: 250px

.book__title
  @extend .h6
  color red
  display: block

.book__author
  @extend .h6
  display: block

.book__more
  @extend .h6
  width 0
  display: block
  padding: 0
  height: 30px
  border-top 2px solid red
  margin: 10px auto 0 auto
  overflow: hidden
  padding-top 5px
  padding-bottom 5px
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in
  transition-delay 0.4s

.book:hover .book__more
  width 130px
  padding-left: 10px
  padding-right: 10px

//-----NEWS-----

.news
  margin-top: 30px

.news__title
  @extend .h1
  width: 100%
  color red
  padding 25px 0
  border-bottom 1px solid bordergray

.news__list
  width: 100%

.newpiece
  background lightgray
  width: 48.5%
  margin-right 3%
  margin-top: 30px
  float: left
  position: relative

.newpiece__image
  float: left

.newpiece__info
  position: relative
  height: 200px;
  width: 300px;
  float: left

.newpiece:nth-child(even)
  margin-right 0

.newpiece:nth-child(4n + 2) .newpiece__image, .newpiece:nth-child(4n + 3) .newpiece__image
  float right

.newpiece__date
  @extend .h5
  position: absolute
  top 50px
  left 40px

.newpiece__title
  @extend .h5
  position: absolute
  bottom 20px
  left 40px

//-----SUBSCRIBAL-----

.subscribal
  width: 100%
  background url("../images/subscribe-bg.jpg")
  background-size cover
  height 550px
  text-align: center
  margin-top: 70px

.subscribal__title
  @extend .h1
  color #ffffff
  margin-top: 200px
  display: inline-block

.subscribal__form
  width: 550px
  margin: 40px auto

.subscribal__input
  @extend .h6
  placeholder-color(black)
  background: rgba(255, 255, 255, 0.65)
  border 1px solid #ffffff
  padding 20px 40px
  display: inline-block
  width: 370px

.subscribal__button
  @extend .h6
  color white
  background: rgba(brightred, 0.55)
  display: inline-block
  border 1px solid #ffffff
  border-left 0
  padding 20px 40px
  transition 0.3s ease-in

.subscribal__button:hover
  background: rgba(brightred, 0.75)

//-----FEEDBACK
.feedback
  background-color lightgray
  padding 20px
  margin-top: 50px

.feedback__inner
  background: #ffffff;
  padding 20px
  position: relative

.feedback__title
  @extend .h1
  color red

.feedback__inner > .row
  margin: 0 0 20px 0

.feedback__inner > .row:last-child
  margin-bottom: 0

.feedback__inner > .row > .col-lg-8
  padding 0

.feedback label
  @extend .h6
  margin: 5px 0
  display: block

.feedback input[type="text"]
  placeholder-color(darkgray)
  margin-bottom: 10px
  width: 90%

.feedback select
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image url("../images/icons/brace-down.png");
  background-position right 20px center
  background-repeat no-repeat
  width: 90%

.feedback input[type="text"], .feedback textarea, .feedback select
  @extend .h6
  display: block
  border 1px solid #b7b7b7
  padding 20px

.feedback textarea
  width: 100%
  height: 171px

.feedback__submit
  @extend .h6
  float: right
  border none
  background: transparent;
  color red

.feedback__rect
  width: 180px
  height: 25px
  margin-top: 20px
  background: lightgray

.feedback__square
  position: absolute
  top 20px
  right: 20px
  display: block
  height 60px
  width: 60px
  background: lightgray


//-----FOOTER-----
.footer
  margin-top: 50px
  padding 40px 0
  border-top: 1px solid darkbordergray
  color darkgray !important

.socials_footer
  margin 0
  float: left
