.h1,
.slider__text-big,
.news__title,
.subscribal__title,
.feedback__title {
  font-size: 24pt !important;
}
.h2 {
  font-size: 20pt !important;
}
.h3 {
  font-size: 18pt !important;
}
.h4,
.categories__item {
  font-size: 16pt !important;
}
.h5,
.newpiece__date,
.newpiece__title {
  font-size: 13pt !important;
}
.h6,
.menu__item,
.localization,
.slider__text-small,
.book__title,
.book__author,
.book__more,
.subscribal__input,
.subscribal__button,
.feedback label,
.feedback input[type="text"],
.feedback textarea,
.feedback select,
.feedback__submit {
  font-size: 12pt !important;
}
.georgia,
.categories__item_fancy {
  font-family: georgia;
  font-style: italic;
}
.text-red {
  color: #c20e1a !important;
}
.text-darkgray {
  color: #5d5d5d !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.underline {
  text-decoration: underline !important;
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
* {
  font-family: Lato;
  outline: none;
}
a,
button {
  cursor: pointer !important;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
a:hover {
  color: #c20e1a !important;
  text-decoration: none !important;
}
html,
body {
  height: 100%;
}
label {
  cursor: pointer;
}
.header {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  color: #c20e1a !important;
  background: #fff;
  z-index: 1000;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 19px;
}
.header__inner {
  width: 1050px;
  margin: 0 auto;
}
.socials {
  float: right;
  margin: 40px 10px 0 0;
}
.socials__item {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  display: inline-block;
}
.socials__fb {
  background-image: url("../images/icons/fb.png");
}
.socials__tw {
  background-image: url("../images/icons/twitter.png");
}
.socials__inst {
  background-image: url("../images/icons/instagram.png");
}
.socials__pin {
  background-image: url("../images/icons/pinterest.png");
}
.logo {
  background-color: #fff;
  background-image: url("../images/logo.png");
  height: 45px;
  width: 303px;
  display: block;
  float: left;
  -webkit-background-size: cover;
  background-size: cover;
}
.menu {
  display: block;
  float: right;
  list-style: none;
  margin-right: 20px;
}
.menu__item {
  display: inline-block;
  margin-left: 30px;
}
.menu__item .menu__link {
  width: 12px;
  height: 6px;
  background-position: right;
  padding-right: 30px;
  background-repeat: no-repeat;
  background-image: url("../images/icons/brace-down.png");
}
.menu__item .menu__link.active,
.menu__item menu__link:hover {
  background-image: url("../images/icons/brace-up.png");
  color: #c20e1a !important;
}
.search-btn {
  background-image: url("../images/icons/search.png");
  width: 20px;
  height: 19px;
  display: block;
  float: right;
  background-position: bottom;
  background-repeat: no-repeat;
}
.search-btn:hover,
.search-btn.active {
  background-image: url("../images/icons/search-red.png");
}
.sub-menu {
  margin-top: 150px;
  background: #f1f1f1;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.sub-menu_visible {
  max-height: 240px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.categories__item {
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
}
.categories {
  text-align: center;
}
.localization {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 235px;
}
.localization__btn {
  margin-right: 20px;
}
.localization__btn.active {
  color: #c20e1a !important;
}
.slider {
  margin: 45px auto 0 auto;
  overflow: hidden;
  width: 1050px;
  height: 400px;
}
.slider__left-side {
  margin-right: 80px;
  float: left;
  height: 100%;
}
.slider__left-side img {
  height: 100%;
}
.slider__right-side {
  float: left;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: -20px;
  box-sizing: padding-box;
}
.slider__right-side img {
  height: 100%;
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
}
.slider__text-small {
  position: absolute;
  top: 150px;
  left: 40px;
}
.slider__text-big {
  color: #c20e1a;
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 350px;
}
.books-list {
  margin-top: 25px;
  min-height: 250px;
}
.book {
  float: left;
  margin-left: 48px;
  position: relative;
  cursor: pointer;
  width: 170px;
}
.book:first-child {
  margin-left: 32px;
}
.book__img {
  position: absolute;
  top: 0;
  width: 170px;
}
.book__details {
  width: 100%;
  margin-top: 150px;
  text-align: center;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.book:hover .book__details {
  margin-top: 250px;
}
.book__title {
  color: #c20e1a;
  display: block;
}
.book__author {
  display: block;
}
.book__more {
  width: 0;
  display: block;
  padding: 0;
  height: 30px;
  border-top: 2px solid #c20e1a;
  margin: 10px auto 0 auto;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  transition-delay: 0.4s;
}
.book:hover .book__more {
  width: 130px;
  padding-left: 10px;
  padding-right: 10px;
}
.news {
  margin-top: 30px;
}
.news__title {
  width: 100%;
  color: #c20e1a;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
}
.news__list {
  width: 100%;
}
.newpiece {
  background: #ededed;
  width: 48.5%;
  margin-right: 3%;
  margin-top: 30px;
  float: left;
  position: relative;
}
.newpiece__image {
  float: left;
}
.newpiece__info {
  position: relative;
  height: 200px;
  width: 300px;
  float: left;
}
.newpiece:nth-child(even) {
  margin-right: 0;
}
.newpiece:nth-child(4n + 2) .newpiece__image,
.newpiece:nth-child(4n + 3) .newpiece__image {
  float: right;
}
.newpiece__date {
  position: absolute;
  top: 50px;
  left: 40px;
}
.newpiece__title {
  position: absolute;
  bottom: 20px;
  left: 40px;
}
.subscribal {
  width: 100%;
  background: url("../images/subscribe-bg.jpg");
  background-size: cover;
  height: 550px;
  text-align: center;
  margin-top: 70px;
}
.subscribal__title {
  color: #fff;
  margin-top: 200px;
  display: inline-block;
}
.subscribal__form {
  width: 550px;
  margin: 40px auto;
}
.subscribal__input {
  background: rgba(255,255,255,0.65);
  border: 1px solid #fff;
  padding: 20px 40px;
  display: inline-block;
  width: 370px;
}
.subscribal__input::-webkit-input-placeholder {
  color: #000 !important;
}
.subscribal__input:-moz-placeholder {
  color: #000 !important;
}
.subscribal__input::-moz-placeholder {
  color: #000 !important;
}
.subscribal__input:-ms-input-placeholder {
  color: #000 !important;
}
.subscribal__button {
  color: #fff;
  background: rgba(255,21,0,0.55);
  display: inline-block;
  border: 1px solid #fff;
  border-left: 0;
  padding: 20px 40px;
  transition: 0.3s ease-in;
}
.subscribal__button:hover {
  background: rgba(255,21,0,0.75);
}
.feedback {
  background-color: #ededed;
  padding: 20px;
  margin-top: 50px;
}
.feedback__inner {
  background: #fff;
  padding: 20px;
  position: relative;
}
.feedback__title {
  color: #c20e1a;
}
.feedback__inner > .row {
  margin: 0 0 20px 0;
}
.feedback__inner > .row:last-child {
  margin-bottom: 0;
}
.feedback__inner > .row > .col-lg-8 {
  padding: 0;
}
.feedback label {
  margin: 5px 0;
  display: block;
}
.feedback input[type="text"] {
  margin-bottom: 10px;
  width: 90%;
}
.feedback input[type="text"]::-webkit-input-placeholder {
  color: #5d5d5d !important;
}
.feedback input[type="text"]:-moz-placeholder {
  color: #5d5d5d !important;
}
.feedback input[type="text"]::-moz-placeholder {
  color: #5d5d5d !important;
}
.feedback input[type="text"]:-ms-input-placeholder {
  color: #5d5d5d !important;
}
.feedback select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/icons/brace-down.png");
  background-position: right 20px center;
  background-repeat: no-repeat;
  width: 90%;
}
.feedback input[type="text"],
.feedback textarea,
.feedback select {
  display: block;
  border: 1px solid #b7b7b7;
  padding: 20px;
}
.feedback textarea {
  width: 100%;
  height: 171px;
}
.feedback__submit {
  float: right;
  border: none;
  background: transparent;
  color: #c20e1a;
}
.feedback__rect {
  width: 180px;
  height: 25px;
  margin-top: 20px;
  background: #ededed;
}
.feedback__square {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  height: 60px;
  width: 60px;
  background: #ededed;
}
.footer {
  margin-top: 50px;
  padding: 40px 0;
  border-top: 1px solid #b7b7b7;
  color: #5d5d5d !important;
}
.socials_footer {
  margin: 0;
  float: left;
}
