html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.inline {
  display: inline-block !important;
}
.color-white {
  color: #fff !important;
}
.color-black {
  color: #000 !important;
}
.color-red {
  color: #c20e1a !important;
}
.h1,
.slider__text-big,
.news__title,
.subscribal__title,
.feedback__title {
  font-size: 24pt !important;
}
.h2 {
  font-size: 20pt !important;
}
.h3 {
  font-size: 18pt !important;
}
.h4,
.categories__item {
  font-size: 16pt !important;
}
.h5,
.newpiece__date,
.newpiece__title {
  font-size: 13pt !important;
}
.h6,
.menu__item,
.localization,
.slider__text-small,
.book__title,
.book__author,
.book__more,
.subscribal__input,
.subscribal__button,
.feedback label,
.feedback input[type="text"],
.feedback textarea,
.feedback select,
.feedback__submit {
  font-size: 12pt !important;
}
.georgia,
.categories__item_fancy {
  font-family: georgia;
  font-style: italic;
}
.text-red {
  color: #c20e1a !important;
}
.text-darkgray {
  color: #5d5d5d !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
.underline,
.underline * {
  text-decoration: underline !important;
}
.underline:hover,
.underline:hover * {
  text-decoration: none !important;
}
.book-info {
  padding-bottom: 40px;
}
.column-wrapper-main {
  font-size: 0;
  display: table;
  width: 100%;
}
.column-wrapper-main .column {
  display: table-cell;
  width: 50%;
}
.column-wrapper-main .column.one {
  padding-right: 20px;
  vertical-align: bottom;
}
.column-wrapper-main .column.one .book-img {
  max-width: 450px;
}
.column-wrapper-main .column.two {
  vertical-align: bottom;
}
.column-wrapper-main .column.two .newpiece-wrapp {
  margin-top: 20px;
}
.column-wrapper-main .column.one + .column.two {
  padding-left: 20px;
}
.book-application {
  display: inline-block;
  width: 400px;
}
.book-application.with-bg {
  background: rgba(255,255,255,0.7);
  padding: 30px;
}
.book-application.with-bg .category {
  padding-right: 80px;
}
.book-application.with-bg .slogan {
  padding-right: 80px;
}
.book-application .category {
  font-size: 14pt;
  color: #b7b7b7;
  padding-right: 80px;
}
.book-application .slogan {
  font-size: 25pt;
  margin-top: 20px;
  padding-right: 80px;
}
.book-application .title {
  font-size: 17pt;
  text-decoration: underline;
  color: #c20e1a;
  margin-top: 20px;
}
.book-application .book-link {
  margin-top: 20px;
  display: inline-block;
  text-decoration: underline !important;
  color: #c20e1a !important;
}
.book-application .book-link:hover {
  text-decoration: none !important;
}
.book-application .subscribal__button + .chose-book-type {
  margin-top: 20px;
}
.book-application .subscribal__button {
  margin-top: 50px;
  width: 300px;
  text-align: center;
}
.book-application .chose-book-type {
  width: 300px;
  border: 3px solid #c20e1a;
  border-radius: 3px;
  margin-top: 50px;
}
.book-application .chose-book-type .type-toggler {
  display: table;
  font-size: 0;
  width: 100%;
  table-layout: fixed;
  border-bottom: 3px solid #c20e1a;
}
.book-application .chose-book-type .type-toggler .item {
  display: table-cell;
}
.book-application .chose-book-type .type-toggler .item:first-child {
  border-right: 3px solid #c20e1a;
}
.book-application .chose-book-type .type-toggler .item .link {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 12pt;
  line-height: 50px;
}
.book-application .chose-book-type .type-toggler .item .link.active {
  background: rgba(203,14,27,0.82);
  color: #fff !important;
}
.book-application .chose-book-type .price-block .item {
  line-height: 80px;
  font-size: 15pt;
  padding: 0 30px;
}
.book-application .chose-book-type .price-block .item .price-wrapper {
  float: left;
}
.book-application .chose-book-type .price-block .item .price-wrapper .price {
  font-size: 25pt;
  color: #000;
  top: -3px;
  position: relative;
}
.book-application .chose-book-type .price-block .item .price-wrapper .currency {
  vertical-align: top;
}
.book-application .chose-book-type .price-block .item .by-link-wrapper {
  float: right;
}
.book-application .chose-book-type .price-block .item .by-link {
  color: #c20e1a !important;
  text-decoration: underline !important;
}
.book-application .chose-book-type .price-block .item .by-link:hover {
  text-decoration: none !important;
}
.book-preview {
  padding-top: 80px;
  padding-bottom: 40px;
  background: url("../images/bg-book-preview.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
}
.book-preview .book-preview-plug {
  position: relative;
  display: inline-block;
}
.book-preview .bb-bookblock {
  height: 536px;
  width: 704px;
  position: absolute;
  top: 15px;
  left: 63px;
}
.book-preview .book-preview-arrow {
  position: absolute;
  top: 50%;
  margin-top: -62px;
  transition: 0.5s;
  width: 100px;
  height: 100px;
  background-size: contain;
}
.book-preview .book-preview-arrow.prev {
  left: -100px;
  background-image: url("../images/icons/left-arrow.png");
}
.book-preview .book-preview-arrow.next {
  right: -100px;
  background-image: url("../images/icons/right-arrow.png");
}
.book-preview .book-preview-arrow:hover.prev {
  left: -105px;
}
.book-preview .book-preview-arrow:hover.next {
  right: -105px;
}
.prev {
  left: -70px;
}
.next {
  right: -70px;
}
.book-icon {
  display: inline-block;
  height: 600px;
}
.page-icon {
  display: inline-block;
  height: 536px;
}
.book-review {
  padding: 50px 0;
}
.book-review .review-list {
  margin-top: 20px;
  overflow: hidden;
}
.book-description {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 0 50px;
}
.column-wrapper-main {
  display: table;
  font-size: 0;
  width: 100%;
}
.column-wrapper-main .column {
  display: table-cell;
  vertical-align: top;
  width: 50%;
}
.column-wrapper-main .column.one,
.column-wrapper-main .column .book-icon-wrapp {
  height: 670px;
}
.column-wrapper-main .column.one .book-icon,
.column-wrapper-main .column .book-icon-wrapp .book-icon {
  height: 700px;
  position: absolute;
}
.column-wrapper-main .column.two .book-application {
  position: relative;
  z-index: 10;
}
.column-wrapper-main .column.two .book-application .category {
  color: #c20e1a;
}
.book-detail-info {
  background: #fff;
  opacity: 0.5;
  padding: 20px;
  display: inline-block;
  margin-top: 80px;
}
.book-detail-info .item {
  margin-top: 10px;
}
.book-detail-info .item .label,
.book-detail-info .item .value {
  font-size: 12pt;
}
.book-list {
  font-size: 0;
  position: relative;
  width: 865px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: 100px;
}
.book-list .item {
  display: inline-block;
  width: 33.333%;
  margin-top: 100px;
}
.book-list .item.shelf:before {
  content: '';
  background-image: url("../images/icons/shelf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: -50px;
  right: -50px;
  height: 100px;
  display: inline-block;
  position: absolute;
  margin-top: 125px;
}
.book-list .book-block {
  margin: 0 auto;
  width: 180px;
  position: relative;
  text-align: center;
}
.book-list .book-block .book-icon {
  width: 100%;
  height: auto;
}
.book-list .book-block .read-link {
  background: rgba(255,0,0,0.5);
  font-size: 18px;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 10px;
  color: #fff !important;
  transition: 0.9s;
}
.book-list .book-block .read-link:hover {
  background: rgba(255,0,0,0.6);
}
.book-list .book-block .epub-link {
  position: absolute;
  font-size: 16px;
  left: 20px;
  bottom: -35px;
}
.book-list .book-block .pdf-link {
  position: absolute;
  font-size: 16px;
  left: 110px;
  bottom: -35px;
}
.category-books-list {
  font-size: 0;
  margin-top: 30px;
  text-align: center;
  margin-left: -20px;
  margin-right: -20px;
}
.category-books-list .item {
  padding: 20px;
  max-width: 20%;
  display: inline-block;
}
.category-books-list .item .link {
  display: inline-block;
  width: 100%;
}
.category-books-list .item .link .image {
  width: 100%;
  display: inline-block;
}
.desc {
  padding-bottom: 100px;
}
.desc .column-wrapper-main .column {
  height: auto;
}
.bg-contacts {
  height: 600px;
  background: url("../images/bg-contacts.jpg") center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.contacts {
  padding-top: 40px;
  font-size: 20px;
}
.contacts .contacts-block {
  margin-top: 50px;
  display: table;
  width: 100%;
  font-size: 0;
}
.contacts .contacts-block .column {
  padding-left: 150px;
  width: 50%;
  display: table-cell;
}
.contacts .contacts-block .column .item {
  font-size: 20px;
}
.contacts .bottom-block {
  margin-top: 50px;
}
.contacts .feedback input[type="text"] {
  width: 100%;
}
.produce-book {
  font-size: 13pt;
}
.produce-book .feedback input[type="text"] {
  width: 100%;
}
.produce-book .feedback .book-props {
  font-size: 0;
  margin-top: 15px;
}
.produce-book .feedback .book-props .item {
  display: inline-block;
  margin-left: 30px;
}
.produce-book .feedback .book-props .item:first-child {
  margin-left: 0;
}
.produce-book .feedback .book-props .item .prop-label,
.produce-book .feedback .book-props .item .checkbox {
  display: inline-block;
  vertical-align: middle;
}
.produce-book .feedback .book-props .item .prop-label {
  margin-left: 10px;
}
.offer-book {
  font-size: 13pt;
}
.offer-book .feedback input[type="text"] {
  width: 100%;
}
.desc.rubric {
  padding-bottom: 2px;
}
.desc.rubric.type-1 {
  background: #ffba00;
}
.desc.rubric.type-1 .special-head {
  background: #ff9102;
}
.desc.rubric.type-1 .special-head .rubric-filters {
  background: #ff9102;
}
.desc.rubric.type-2 {
  background: #4dd9a0;
}
.desc.rubric.type-2 .special-head {
  background: #18be7a;
}
.desc.rubric.type-2 .special-head .rubric-filters {
  background: #18be7a;
}
.desc.rubric.type-3 {
  background: #d164ff;
}
.desc.rubric.type-3 .special-head {
  background: #8e32b5;
}
.desc.rubric.type-3 .special-head .rubric-filters {
  background: #8e32b5;
}
.desc.rubric.type-4 {
  background: #7ec21e;
}
.desc.rubric.type-4 .special-head {
  background: #399d02;
}
.desc.rubric.type-4 .special-head .rubric-filters {
  background: #399d02;
}
.desc.rubric.type-5 {
  background: #402f7f;
}
.desc.rubric.type-5 .special-head {
  background: #2b1c5f;
}
.desc.rubric.type-5 .special-head .rubric-filters {
  background: #2b1c5f;
}
.desc.rubric .special-head {
  padding: 20px 0;
  position: relative;
}
.desc.rubric .special-head .rubric-filters {
  z-index: 55;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
}
.desc.rubric .info-block {
  padding: 10px 0;
  color: #fff;
  text-align: center;
  text-indent: 0;
}
.desc.rubric .buttons-wrapper {
  margin-top: 5px;
  font-size: 0;
  text-align: center;
}
.desc.rubric .buttons-wrapper .item {
  display: inline-block;
  margin-left: 20px;
}
.desc.rubric .buttons-wrapper .item:first-child {
  margin-left: 0;
}
.desc.rubric .buttons-wrapper .item .simple-button:after {
  content: "\f107";
  margin-left: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
}
.desc.rubric .buttons-wrapper .item .simple-button.active {
  border-color: #ff1500;
  background: #fff;
  color: #ff1500 !important;
}
.desc.rubric .buttons-wrapper .item .simple-button.active:after {
  content: "\f106";
  vertical-align: 1px;
}
.rubric-books-list {
  font-size: 0;
  text-align: center;
  padding: 70px 0;
}
.rubric-books-list.type-1 .link:hover {
  background: #ffba00;
}
.rubric-books-list.type-2 .link:hover {
  background: #4dd9a0;
}
.rubric-books-list.type-3 .link:hover {
  background: #d164ff;
}
.rubric-books-list.type-4 .link:hover {
  background: #7ec21e;
}
.rubric-books-list.type-5 .link:hover {
  background: #402f7f;
}
.rubric-books-list .item {
  display: inline-block;
  width: 20%;
}
.rubric-books-list .item .link {
  padding: 30px 0;
  width: 100%;
  background: transparent;
  transition: 1s;
}
.rubric-books-list .item .link .img {
  width: 200px;
}
.rubric-filters {
  font-size: 0;
  padding: 0 0 70px;
  text-align: center;
  display: none;
}
.rubric-filters .item {
  display: inline-block;
  margin: 50px 50px 0;
}
.rubric-filters .item .checkbox {
  width: 20px;
  height: 20px;
  border: 3px solid #5e7cff;
  vertical-align: middle;
}
.rubric-filters .item input[type="checkbox"]:checked + .checkbox {
  border-color: #ff1500;
}
.rubric-filters .item .label {
  color: #fff;
  font-size: 12pt;
  margin-left: 10px;
  vertical-align: middle;
}
.bg-about {
  height: 600px;
  background: url("../images/about_bg.jpg") center bottom;
  background-size: cover;
  background-repeat: no-repeat;
}
.about {
  padding-top: 40px;
  font-size: 20px;
  font-size: 13pt;
}
.about .bottom-block {
  text-indent: 1.5em;
  line-height: 1.8;
  margin-top: 20px;
}
.where-by {
  padding-top: 40px;
  font-size: 20px;
  font-size: 13pt;
}
.where-by .main-map {
  width: 500px;
  margin: 30px auto 0;
  display: block;
}
.where-by .places {
  margin-top: 40px;
}
.where-by .places.retail {
  margin-bottom: 60px;
}
.where-by .places.wholesale {
  margin-top: 60px;
}
.where-by .places .item {
  margin-top: 40px;
}
.where-by .places .item:first-child {
  margin-top: 0;
}
.where-by .places .item .table-wrapp {
  font-size: 0;
  display: table;
}
.where-by .places .item .table-wrapp .cell {
  display: table-cell;
  vertical-align: top;
}
.where-by .places .item .table-wrapp .cell.map .angular-google-map-container {
  width: 250px;
  height: 200px;
}
.where-by .places .item .table-wrapp .cell.contact-info {
  padding: 30px 40px 0;
  width: 100%;
  background: #ededed;
  font-size: 13pt;
  line-height: 1.8;
}
.where-by .places .item .table-wrapp .cell.img img {
  height: 200px;
}
.news-page .newpiece.true.full-with .newpiece__image {
  width: 260px;
  height: 260px;
}
.news-page .table {
  display: table;
  width: 100%;
  font-size: 0;
  margin-top: 50px;
}
.news-page .table .cell {
  vertical-align: top;
  display: table-cell;
  font-size: 13pt;
}
.news-page .table .cell.one .shell {
  width: 260px;
}
.news-page .table .cell.two {
  padding-left: 50px;
}
.news-page .table .cell .shell,
.news-page .table .cell .newpiece {
  margin-top: 0;
}
.news-page .table .cell .img {
  width: 100%;
}
.news-page .refresh-btn {
  display: inline-block;
  margin-top: 100px;
  margin-bottom: 50px;
}
.news-page .refresh-btn .fa {
  font-size: 35px;
}
.author .newpiece {
  background: #fff;
}
.author .newpiece .bottom-line a {
  display: inline-block;
  margin-left: 40px;
}
.author .newpiece .bottom-line a:first-child {
  margin-left: 0;
}
.author .banner-title {
  color: #333;
}
.view-animate {
  opacity: 1;
}
.view-animate.ng-enter,
.view-animate.ng-leave {
  -webkit-transition: 1s;
  transition: 1s;
}
.view-animate.ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active {
  display: none;
}
.animate-show {
  opacity: 1;
  display: block;
}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 1s;
  transition: all linear 1s;
}
.animate-show.ng-hide-add {
  display: none;
}
.animate-show.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
.animate-show.ng-hide-remove {
  opacity: 0;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s;
}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
}
@-moz-keyframes menu-scrolld {
  from {
    transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
  to {
    transform: rotateX(0deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
}
@-webkit-keyframes menu-scrolld {
  from {
    transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
  to {
    transform: rotateX(0deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
}
@-o-keyframes menu-scrolld {
  from {
    transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
  to {
    transform: rotateX(0deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
}
@keyframes menu-scrolld {
  from {
    transform: rotateX(-90deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
  to {
    transform: rotateX(0deg);
    transform-origin: 0% 0%;
    perspective: 3000px;
    transform-style: preserve-3d;
  }
}
@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Italic;
  src: url("../fonts/Lato-Italic.ttf") format("truetype");
}
@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato-Bold.ttf") format("truetype");
}
* {
  outline: none;
}
.italic {
  font-family: Lato-Italic !important;
}
a,
button {
  cursor: pointer !important;
  background: transparent;
  border: none;
}
a {
  color: #000 !important;
  text-decoration: none !important;
}
a:hover {
  color: #c20e1a !important;
  text-decoration: none !important;
}
html,
body {
  height: 100%;
  font-family: Lato, sans-serif;
}
label {
  cursor: pointer;
}
body.transparent-header .header {
  border-bottom-color: transparent;
}
body.transparent-header .main > div:first-child {
  margin-top: -165px;
  padding-top: 170px;
}
body.white-color-header .header-wrapp:not(.scrolled) * {
  color: #fff !important;
}
body.white-color-header .header-wrapp:not(.scrolled) .logo {
  background-image: url("../images/logo-wh.png");
}
body.white-color-header .header-wrapp:not(.scrolled) .menu__item .menu__link:hover,
body.white-color-header .header-wrapp:not(.scrolled) .menu__item .fa:hover,
body.white-color-header .header-wrapp:not(.scrolled) .menu__item .menu__link.active,
body.white-color-header .header-wrapp:not(.scrolled) .menu__item .fa.active {
  color: #c20e1a !important;
}
body.white-color-header .header-wrapp:not(.scrolled) .socials__item .fa:hover {
  color: #c20e1a !important;
}
.header-false {
  height: 120px;
  width: 100%;
}
.header-wrapp {
  perspective: 3000px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 1000;
}
.header-wrapp.scrolled {
  position: fixed;
}
.header-wrapp.scrolled .header {
  background: #fff;
  border-bottom-color: #e5e5e5 !important;
  animation: menu-scrolld 2s;
}
.header-wrapp.no-scrolled .header {
  animation: menu-no-scrolld 2s;
}
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 19px;
  background: transparent;
  color: #c20e1a !important;
  height: 120px;
  width: 100%;
  transition: background 0.5s;
}
.header__inner {
  width: 1050px;
  margin: 0 auto;
  padding-right: 20px;
}
.header__line {
  width: 100%;
  float: left;
}
.socials {
  float: right;
  margin-top: 15px;
}
.socials__item {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  display: inline-block;
}
.socials__item:last-child {
  width: auto;
}
.socials__item .fa {
  font-size: 20px;
  color: #333;
}
.socials__item .fa:hover {
  color: #c20e1a;
}
.socials__fb {
  background-image: url("../images/icons/fb.png");
}
.socials__tw {
  background-image: url("../images/icons/twitter.png");
}
.socials__inst {
  background-image: url("../images/icons/instagram.png");
}
.socials__pin {
  background-image: url("../images/icons/pinterest.png");
}
.logo {
  background-image: url("../images/logo.png");
  height: 45px;
  width: 310px;
  display: block;
  float: left;
  -webkit-background-size: cover;
  background-size: cover;
}
.menu {
  display: block;
  float: right;
  list-style: none;
  margin-top: 15px;
}
.menu__item {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}
.menu__item .fa-search {
  cursor: pointer;
  font-size: 20px;
  color: #333;
}
.menu__item .fa-search:hover {
  color: #c20e1a;
}
.menu__item .menu__link {
  width: 12px;
  height: 6px;
  padding-right: 30px;
}
.menu__item .menu__link:after {
  position: absolute;
  right: 0;
  top: 5px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  content: "\f107";
}
.menu__item .menu__link.active,
.menu__item menu__link:hover {
  color: #c20e1a !important;
}
.menu__item .menu__link.active:after,
.menu__item menu__link:hover:after {
  content: "\f106";
}
.search-btn {
  background-image: url("../images/icons/search.png");
  width: 20px;
  height: 19px;
  display: block;
  float: right;
  background-position: bottom;
  background-repeat: no-repeat;
}
.search-btn:hover,
.search-btn.active {
  background-image: url("../images/icons/search-red.png");
}
.sub-menu {
  z-index: 555;
  position: absolute;
  background: #f1f1f1;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  opacity: 0;
}
.sub-menu_visible {
  opacity: 1;
  max-height: 540px;
  border-bottom: 1px solid #e5e5e5;
  padding: 20px 0;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.categories__item {
  display: inline-block;
  margin-right: 40px;
  margin-top: 20px;
}
.categories {
  text-align: center;
}
.localization {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top: 235px;
}
.localization__btn {
  margin-right: 20px;
}
.localization__btn.active {
  color: #c20e1a !important;
}
.main {
  padding-top: 45px;
}
.slider {
  margin: 0 auto 0 auto;
  height: 400px;
}
.slider__left-side {
  margin-right: 80px;
  float: left;
  height: 100%;
}
.slider__left-side img {
  height: 100%;
}
.slider__right-side {
  float: right;
  height: 100%;
  position: relative;
  padding-bottom: 30px;
  margin-bottom: -20px;
  box-sizing: padding-box;
}
.slider__right-side img {
  height: 100%;
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
}
.slider__text-small {
  position: absolute;
  top: 150px;
  left: 40px;
}
.slider__text-big {
  color: #c20e1a;
  position: absolute;
  left: 40px;
  bottom: 40px;
  width: 350px;
}
.books-list {
  margin-top: 25px;
  min-height: 250px;
}
.book {
  float: left;
  margin-left: 48px;
  position: relative;
  width: 170px;
}
.book:first-child {
  margin-left: 32px;
}
.book__img {
  position: absolute;
  top: 0;
  width: 170px;
  background: #fff;
}
.book__details {
  width: 100%;
  text-align: center;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}
.book:hover .book__details {
  margin-top: 250px;
}
.book__title {
  color: #c20e1a;
  display: block;
}
.book__author {
  display: block;
}
.book__more {
  width: 0;
  display: block;
  padding: 0;
  height: 30px;
  border-top: 2px solid #c20e1a;
  margin: 10px auto 0 auto;
  overflow: hidden;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -ms-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  transition-delay: 0.4s;
}
.book:hover .book__more {
  width: 130px;
  padding-left: 10px;
  padding-right: 10px;
}
.news {
  margin-top: 30px;
}
.news__title {
  width: 100%;
  color: #c20e1a;
  padding: 25px 0;
  border-bottom: 1px solid #e5e5e5;
}
.clearfix {
  clear: both;
}
.news__list {
  width: 100%;
}
.newpiece-wrapp .newpiece.true {
  width: 100%;
}
.newpiece {
  background: #ededed;
  width: 48.5%;
  margin-right: 3%;
  margin-top: 30px;
  float: left;
  display: table;
  font-size: 0;
}
.newpiece.true.full-with {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.newpiece.true.full-with .newpiece__image {
  float: none;
  width: 220px;
  height: 220px;
}
.newpiece.true.full-with .newpiece__info {
  width: 100%;
}
.newpiece.true .newpiece__image {
  display: table-cell;
  float: none;
}
.newpiece.true .newpiece__image + .newpiece__info {
  display: table-cell;
}
.newpiece.true .newpiece__info {
  position: relative;
  vertical-align: top;
  float: none;
  width: auto;
  padding-left: 30px;
  padding-right: 30px;
  height: auto;
  min-height: 200px;
  padding-bottom: 55px;
}
.newpiece.true .newpiece__info .newpiece__title {
  margin-top: 20px;
  left: auto;
  right: auto;
  position: static;
  display: inline-block;
}
.newpiece.true .newpiece__info .newpiece__date {
  margin-top: 30px;
  left: auto;
  right: auto;
  position: static;
  display: inline-block;
}
.newpiece.true .newpiece__info .bottom-line {
  font-size: 14pt;
  position: absolute;
  bottom: 20px;
  left: 30px;
}
.newpiece.true .newpiece__info .bottom-line.more {
  color: #c20e1a !important;
}
.link {
  display: inline-block;
}
.newpiece__image {
  float: left;
  width: 200px;
  height: 200px;
}
.newpiece__info {
  position: relative;
  height: 200px;
  width: 300px;
  float: left;
}
.newpiece:nth-child(even) {
  margin-right: 0;
}
.newpiece:nth-child(4n + 2) .newpiece__image,
.newpiece:nth-child(4n + 3) .newpiece__image {
  float: right;
}
.newpiece__date {
  position: absolute;
  top: 50px;
  left: 40px;
}
.newpiece__title {
  position: absolute;
  bottom: 20px;
  left: 40px;
}
.subscribal {
  width: 100%;
  background: url("../images/subscribe-bg.jpg");
  background-size: cover;
  height: 550px;
  text-align: center;
  margin-top: 70px;
}
.subscribal__title {
  color: #fff;
  margin-top: 200px;
  display: inline-block;
}
.subscribal__form {
  width: 550px;
  margin: 40px auto;
}
.subscribal__input {
  background: rgba(255,255,255,0.65);
  border: 1px solid #fff;
  padding: 20px 40px;
  display: inline-block;
  width: 370px;
}
.subscribal__input::-webkit-input-placeholder {
  color: #000 !important;
}
.subscribal__input:-moz-placeholder {
  color: #000 !important;
}
.subscribal__input::-moz-placeholder {
  color: #000 !important;
}
.subscribal__input:-ms-input-placeholder {
  color: #000 !important;
}
.subscribal__button {
  color: #fff !important;
  background: rgba(255,21,0,0.55);
  display: inline-block;
  border: 1px solid #fff;
  border-left: 0;
  padding: 20px 40px;
  transition: 0.3s ease-in;
}
.subscribal__button.single {
  border-left: 1px solid #fff;
}
.subscribal__button:hover {
  color: #fff !important;
}
.subscribal__button:hover {
  background: rgba(255,21,0,0.75);
}
.feedback {
  background-color: #ededed;
  padding: 20px;
  margin-top: 50px;
}
.feedback__inner {
  background: #fff;
  padding: 20px;
  position: relative;
}
.feedback__title {
  color: #c20e1a;
}
.feedback__inner > .row {
  margin: 0 0 20px 0;
}
.feedback__inner > .row:last-child {
  margin-bottom: 0;
}
.feedback__inner > .row > .col-lg-8 {
  padding: 0;
}
.feedback label {
  margin: 5px 0;
  display: block;
}
.feedback input[type="text"] {
  margin-bottom: 10px;
  width: 90%;
}
.feedback input[type="text"]::-webkit-input-placeholder {
  color: #5d5d5d !important;
}
.feedback input[type="text"]:-moz-placeholder {
  color: #5d5d5d !important;
}
.feedback input[type="text"]::-moz-placeholder {
  color: #5d5d5d !important;
}
.feedback input[type="text"]:-ms-input-placeholder {
  color: #5d5d5d !important;
}
.feedback select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("../images/icons/brace-down.png");
  background-position: right 20px center;
  background-repeat: no-repeat;
  width: 90%;
}
.feedback input[type="text"],
.feedback textarea,
.feedback select {
  display: block;
  border: 1px solid #b7b7b7;
  padding: 20px;
}
.feedback textarea {
  width: 100%;
  height: 171px;
}
.feedback__submit {
  float: right;
  border: none;
  background: transparent;
  color: #c20e1a;
}
.feedback__rect {
  width: 180px;
  height: 25px;
  margin-top: 20px;
  background: #ededed;
}
.feedback__square {
  position: absolute;
  top: 20px;
  right: 20px;
  display: block;
  height: 60px;
  width: 60px;
  background: #ededed;
}
.footer {
  margin-top: 50px;
  padding: 40px 0;
  border-top: 1px solid #b7b7b7;
  color: #5d5d5d !important;
}
.socials_footer {
  margin: 0;
  float: left;
}
.section-title {
  font-size: 26pt;
  text-align: center;
}
.login-form .row {
  margin-top: 20px;
}
.login-form .row .input-wrapp {
  display: inline-block;
  position: relative;
}
.login-form .row .input-wrapp:before,
.login-form .row .input-wrapp .enter-btn {
  content: '';
  width: 30px;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 0;
  height: 64px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.login-form .row .input-wrapp .enter-btn {
  left: auto;
  right: 10px;
}
.login-form .row .input-wrapp.login:before {
  background-image: url("../images/icons/message.png");
}
.login-form .row .input-wrapp.pass:before {
  background-image: url("../images/icons/key.png");
}
.login-form .row .input-wrapp.pass .enter-btn {
  background-image: url("../images/icons/enter.png");
}
.login-form .row:first-child {
  margin-top: 0;
}
.login-form .row .subscribal__input {
  background: #fff;
  padding-left: 50px;
  padding-right: 50px;
}
.banner-title {
  font-size: 25pt;
  line-height: 100px;
  color: #fff;
}
.banner {
  background: url("../images/bg-banner.jpg") no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 150px 0 150px;
  position: relative;
}
.banner .container {
  position: relative;
  z-index: 10;
}
.banner:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
}
.banner .subscribal__button {
  margin-top: 40px;
  border-left: 1px solid #fff;
}
.error-block {
  margin-top: 5px;
}
.error-block .input-error {
  color: #c20e1a;
  display: none;
}
input.ng-touched.ng-invalid {
  border-color: #c20e1a;
}
input.ng-touched.ng-invalid-required + .error-block .input-error.required {
  display: block;
}
input.ng-touched.ng-invalid-pattern + .error-block .input-error.pattern {
  display: block;
}
.auth-result {
  font-size: 20px;
  margin-bottom: 20px;
}
input[type="checkbox"] {
  display: none;
}
input[type="checkbox"]:checked + label.checkbox {
  background: #ff1500;
}
input[type="checkbox"] + label.checkbox {
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #b7b7b7;
  background: #fff;
}
p.info-block {
  font-size: 13pt;
  text-indent: 1.5em;
  padding: 40px 0 0;
  line-height: 1.8;
}
p.info-block .link {
  text-decoration: underline !important;
}
p.info-block * {
  text-indent: 0;
}
.desc {
  padding: 50px 0;
  background-size: cover;
}
.simple-button {
  border: 2px solid #fff;
  padding: 7px 10px 5px;
  font-size: 10pt;
  text-transform: uppercase;
  color: #fff !important;
  display: inline-block;
}
.simple-button:hover {
  color: #fff !important;
}
.newpiece__info .section-title {
  margin-top: 20px;
  text-align: left;
}
.more-link.down {
  display: inline-block;
  margin-top: 15px;
}
.more-link.not-active {
  opacity: 0;
  cursor: default !important;
}
.favorite-strip {
  background: url("../images/flag.png");
  background-repeat: no-repeat;
  background-position: center top;
  width: 65px;
  height: 104px;
  position: absolute;
  top: 0;
  right: 15px;
  z-index: 10;
}
.favorite-strip:after {
  content: '';
  display: block;
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 0;
  position: absolute;
  background: url("../images/flag.png");
  background-repeat: no-repeat;
  background-position: center top;
}
.favorite-strip:before {
  content: '';
  display: block;
  left: 0%;
  right: 0%;
  top: 0;
  bottom: 20px;
  position: absolute;
}
.favorite-strip.active:before {
  background: #ff0;
}
.container-wrapper {
  height: 150px;
  overflow: hidden;
}
.container-wrapper .categories {
  position: relative;
  top: 0;
  transition: 0.5s;
}
pre {
  font-family: inherit !important;
  white-space: pre-wrap;
  word-wrap: break-word;
}
