@import reset
@import vars
@import book
@import cabinet
@import category
@import contacts
@import produce-book
@import offer-book
@import rubric
@import about
@import where-by
@import news
@import author
@import animations

@font-face {
  font-family: Lato;
  src: url('../fonts/Lato-Regular.ttf') format("truetype");
}

@font-face {
  font-family: Lato-Italic;
  src: url('../fonts/Lato-Italic.ttf') format("truetype");
}

@font-face {
  font-family: Lato-Bold;
  src: url('../fonts/Lato-Bold.ttf') format("truetype");
}
*
  outline none

.italic
  font-family: Lato-Italic !important

a, button
  cursor: pointer !important
  background transparent
  border none
a
  color black !important
  text-decoration none !important

a:hover
  color red !important
  text-decoration: none !important

html, body
  height: 100%
  font-family: Lato, sans-serif

label
  cursor: pointer

body
  &.transparent-header
    .header
      border-bottom-color transparent

    .main
      > div:first-child
        margin-top -165px
        padding-top 170px

  &.white-color-header
    .header-wrapp:not(.scrolled)
      *
        color #fff !important

      .logo
        background-image url("../images/logo-wh.png");

      .menu__item .menu__link,
      .menu__item .fa
        &:hover,
        &.active
          color red !important


      .socials__item .fa
        &:hover
          color red !important


//-----HEADER-----

.header-false
  height: 120px
  width: 100%

.header-wrapp
  perspective: 3000px;
  top: 0;
  left: 0;
  right: 0;
  position: absolute;
  z-index 1000

  &.scrolled
    position fixed

    .header
      background #fff
      border-bottom-color bordergray !important
      animation menu-scrolld 2s

  &.no-scrolled
    .header
      animation menu-no-scrolld 2s

.header
  border-bottom 1px solid bordergray
  padding-bottom 19px
  background: transparent
  color red !important
  height: 120px;
  width: 100%;
  transition background .5s

.header__inner
  width: 1050px
  margin: 0 auto
  padding-right: 20px

.header__line
  width: 100%
  float: left

.socials
  float: right
  margin-top: 15px

.socials__item
  width: 32px
  height: 32px
  margin-left: 5px;
  display: inline-block

  &:last-child
    width auto

  .fa
    font-size 20px
    color: extradarkgray

    &:hover
      color: red

.socials__fb
  background-image url("../images/icons/fb.png")
.socials__tw
  background-image url("../images/icons/twitter.png")
.socials__inst
  background-image url("../images/icons/instagram.png")
.socials__pin
  background-image url("../images/icons/pinterest.png")

.logo
  background-image url("../images/logo.png")
  height 45px
  width: 310px
  display: block
  float: left
  -webkit-background-size: cover
  background-size: cover

.menu
  display: block
  float: right
  list-style none
  margin-top 15px

.menu__item
  @extend .h6
  display: inline-block
  margin-left 30px
  position relative

  .fa-search
    cursor pointer
    font-size 20px
    color extradarkgray
    
    &:hover
      color: red

.menu__item .menu__link
  width: 12px
  height: 6px
  padding-right 30px

  &:after
    position: absolute;
    right: 0
    top 5px
    display inline-block
    font: normal normal normal 14px/1 FontAwesome;
    content "\f107"

.menu__item .menu__link.active, .menu__item menu__link:hover
  color red !important

  &:after
    content "\f106"

.search-btn
  background-image url("../images/icons/search.png")
  width: 20px
  height 19px
  display: block
  float: right
  background-position bottom
  background-repeat no-repeat

.search-btn:hover, .search-btn.active
  background-image url("../images/icons/search-red.png")


//-----SUBMENU-----

.sub-menu
  z-index 555
  position absolute
  background lightergray
  width: 100%
  max-height 0
  overflow: hidden
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in
  opacity 0

.sub-menu_visible
  opacity 1
  max-height 540px
  border-bottom 1px solid bordergray
  padding 20px 0
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in

.categories__item
  @extend .h4
  display: inline-block
  margin-right 40px
  margin-top: 20px

.categories
  text-align: center

.categories__item_fancy
  @extend .georgia

//----LOCALIZATION-----

.localization
  @extend .h6
  -webkit-transform: rotate(-90deg)
  -moz-transform: rotate(-90deg)
  -ms-transform: rotate(-90deg)
  -o-transform: rotate(-90deg)
  transform: rotate(-90deg)
  position absolute
  top 235px

.localization__btn
  margin-right 20px

.localization__btn.active
  color red !important

.main
  padding-top 45px

//-----SLIDER-----

.slider
  margin: 0 auto 0 auto
  height 400px

.slider__left-side
  margin-right: 80px
  float: left
  height: 100%

.slider__left-side img
  height 100%

.slider__right-side
  float: right
  height: 100%
  position: relative
  padding-bottom 30px
  margin-bottom -20px
  box-sizing padding-box

.slider__right-side img
  height 100%
  -webkit-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);
  box-shadow: 10px 10px 20px 1px rgba(0,0,0,0.2);

.slider__text-small
  @extend .h6
  position: absolute
  top 150px
  left: 40px

.slider__text-big
  @extend .h1
  color red
  position: absolute
  left 40px
  bottom 40px
  width: 350px


//-----BOOKSLIST-----

.books-list
  margin-top: 25px
  min-height 250px

.book
  float: left
  margin-left 48px
  position: relative
  width: 170px

.book:first-child
  margin-left: 32px

.book__img
  position absolute
  top 0
  width: 170px
  background #fff

.book__details
  width: 100%
  text-align: center
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in

.book:hover .book__details
  margin-top: 250px

.book__title
  @extend .h6
  color red
  display: block

.book__author
  @extend .h6
  display: block

.book__more
  @extend .h6
  width 0
  display: block
  padding: 0
  height: 30px
  border-top 2px solid red
  margin: 10px auto 0 auto
  overflow: hidden
  padding-top 5px
  padding-bottom 5px
  -webkit-transition: 0.3s ease-in
  -moz-transition: 0.3s ease-in
  -ms-transition: 0.3s ease-in
  -o-transition: 0.3s ease-in
  transition: 0.3s ease-in
  transition-delay 0.4s

.book:hover .book__more
  width 130px
  padding-left: 10px
  padding-right: 10px

//-----NEWS-----

.news
  margin-top: 30px

.news__title
  @extend .h1
  width: 100%
  color red
  padding 25px 0
  border-bottom 1px solid bordergray

.clearfix
  clear: both

.news__list
  width: 100%

.newpiece-wrapp
  .newpiece.true
    width 100%

.newpiece
  background lightgray
  width: 48.5%
  margin-right 3%
  margin-top: 30px
  float: left
  display table
  font-size 0

  &.true
    &.full-with
      width 100%
      margin-left auto
      margin-right auto
      float none

      .newpiece__image
        float none
        width 220px
        height 220px

      .newpiece__info
        width 100%

    .newpiece__image
      display table-cell
      float none

    .newpiece__image + .newpiece__info
      display table-cell

    .newpiece__info
      position relative
      vertical-align top
      float none
      width auto
      padding-left: 30px
      padding-right: 30px
      height auto
      min-height 200px
      padding-bottom: 55px;

      .newpiece__title
        margin-top: 20px
        left: auto
        right: auto
        position: static
        display inline-block


      .newpiece__date
        margin-top: 30px
        left: auto
        right: auto
        position: static
        display inline-block

      .bottom-line
        font-size 14pt
        position absolute
        bottom: 20px;
        left 30px

        &.more
          color red !important


.link
  display inline-block

.newpiece__image
  float: left
  width 200px
  height 200px


.newpiece__info
  position: relative
  height: 200px;
  width: 300px;
  float: left

.newpiece:nth-child(even)
  margin-right 0

.newpiece:nth-child(4n + 2) .newpiece__image, .newpiece:nth-child(4n + 3) .newpiece__image
  float right

.newpiece__date
  @extend .h5
  position: absolute
  top 50px
  left 40px

.newpiece__title
  @extend .h5
  position: absolute
  bottom 20px
  left 40px

//-----SUBSCRIBAL-----

.subscribal
  width: 100%
  background url("../images/subscribe-bg.jpg")
  background-size cover
  height 550px
  text-align: center
  margin-top: 70px

.subscribal__title
  @extend .h1
  color #ffffff
  margin-top: 200px
  display: inline-block

.subscribal__form
  width: 550px
  margin: 40px auto

.subscribal__input
  @extend .h6
  placeholder-color(black)
  background: rgba(255, 255, 255, 0.65)
  border 1px solid #ffffff
  padding 20px 40px
  display: inline-block
  width: 370px

.subscribal__button
  @extend .h6
  color white !important
  background: rgba(brightred, 0.55)
  display: inline-block
  border 1px solid #ffffff
  border-left 0
  padding 20px 40px
  transition 0.3s ease-in

  &.single
    border-left: 1px solid #fff

  &:hover
    color #fff !important

.subscribal__button:hover
  background: rgba(brightred, 0.75)

//-----FEEDBACK
.feedback
  background-color lightgray
  padding 20px
  margin-top: 50px

.feedback__inner
  background: #ffffff;
  padding 20px
  position: relative

.feedback__title
  @extend .h1
  color red

.feedback__inner > .row
  margin: 0 0 20px 0

.feedback__inner > .row:last-child
  margin-bottom: 0

.feedback__inner > .row > .col-lg-8
  padding 0

.feedback label
  @extend .h6
  margin: 5px 0
  display: block

.feedback input[type="text"]
  placeholder-color(darkgray)
  margin-bottom: 10px
  width: 90%

.feedback select
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image url("../images/icons/brace-down.png");
  background-position right 20px center
  background-repeat no-repeat
  width: 90%

.feedback input[type="text"], .feedback textarea, .feedback select
  @extend .h6
  display: block
  border 1px solid #b7b7b7
  padding 20px

.feedback textarea
  width: 100%
  height: 171px

.feedback__submit
  @extend .h6
  float: right
  border none
  background: transparent;
  color red

.feedback__rect
  width: 180px
  height: 25px
  margin-top: 20px
  background: lightgray

.feedback__square
  position: absolute
  top 20px
  right: 20px
  display: block
  height 60px
  width: 60px
  background: lightgray


//-----FOOTER-----
.footer
  margin-top: 50px
  padding 40px 0
  border-top: 1px solid darkbordergray
  color darkgray !important

.socials_footer
  margin 0
  float: left

.section-title
  font-size 26pt
  text-align center

.login-form
  .row
    margin-top 20px

    .input-wrapp
      display inline-block
      position relative

      &:before,
      .enter-btn
        content ''
        width 30px
        display inline-block
        position absolute
        left 10px
        top 0
        height 64px
        background-size contain
        background-position center
        background-repeat no-repeat

      .enter-btn
        left auto
        right 10px

      &.login
        &:before
          background-image url('../images/icons/message.png')

      &.pass
        &:before
          background-image url('../images/icons/key.png')

        .enter-btn
          background-image url('../images/icons/enter.png')

    &:first-child
      margin-top 0

    .subscribal__input
      background #fff
      padding-left 50px
      padding-right 50px

.banner-title
  font-size 25pt
  line-height 100px
  color #fff


.banner
  background url("../images/bg-banner.jpg") no-repeat center
  background-size cover
  text-align center
  padding 150px 0 150px
  position relative

  .container
    position relative
    z-index 10

  &:after
    content: ''
    position absolute
    top 0
    left 0
    right 0
    bottom 0
    background rgba(0, 0, 0, 0.3)

  .subscribal__button
    margin-top 40px
    border-left 1px solid #fff

.error-block {
  margin-top 5px

  .input-error {
    color: red;
    display: none;
  }
}

input.ng-touched.ng-invalid {
  border-color: red;
}

input.ng-touched.ng-invalid-required + .error-block {
  .input-error.required {
    display: block;
  }
}


input.ng-touched.ng-invalid-pattern + .error-block {
  .input-error.pattern {

    display: block;
  }
}

.auth-result {
  font-size 20px
  margin-bottom 20px
}


input[type="checkbox"]
  display none

  &:checked
    & + label.checkbox
      background brightred

  & + label.checkbox
    display inline-block
    width 35px
    height 35px
    border 1px solid #b7b7b7
    background #fff

p.info-block
  font-size 13pt
  text-indent 1.5em
  padding 40px 0 0
  line-height 1.8


  .link
    text-decoration underline !important

  *
    text-indent 0

.desc
  padding 50px 0
  background-size cover

.simple-button
  border 2px solid #fff
  padding 7px 10px 5px
  font-size 10pt
  text-transform uppercase
  color #fff !important
  display inline-block

  &:hover
    color: #fff !important

.newpiece__info
  .section-title
    margin-top 20px
    text-align left

.favorite-strip
  background url('../images/flag.png')
  background-repeat no-repeat
  background-position center top
  width 65px
  height 104px
  position absolute
  top 0
  right 15px
  z-index 10

  &:after
    content ''
    display block
    left 0%
    right 0%
    top 0
    bottom 0
    position absolute
    background url('../images/flag.png')
    background-repeat no-repeat
    background-position center top

  &:before
    content ''
    display block
    left 0%
    right 0%
    top 0
    bottom 20px
    position absolute
    
  &.active
    &:before
      background yellow