.desc
  &.special
    padding-bottom 2px

    &.type-1
      background #EA43F5

      .special-head
        background #962fa3
        padding 20px 0

        .info-block
          padding 10px 0
          color #fff
          text-align center
          text-indent 0

        .buttons-wrapper
          margin-top 5px
          font-size 0
          text-align center

          .item
            display inline-block
            margin-left 20px

            &:first-child
              margin-left 0