red = #c20e1a
brightred = #ff1500
palered = rgba(203, 14, 27, 0.82)
opacityred = rgba(203, 14, 27, 0.5)
lightergray = #f1f1f1
lightgray = #ededed
bordergray = #e5e5e5
darkbordergray = #b7b7b7
darkgray = #5d5d5d
extradarkgray = #333

.color-red
  color red !important

.h1
  font-size: 24pt !important
.h2
  font-size: 20pt !important
.h3
  font-size: 18pt !important
.h4
  font-size: 16pt !important
.h5
  font-size: 13pt !important
.h6
  font-size: 12pt !important

.georgia
  font-family: georgia
  font-style italic

.text-red
  color red !important
.text-darkgray
  color darkgray !important

.text-center
  text-align: center
.text-right
  text-align: right
.text-left
  text-align: left

.underline
  text-decoration underline !important

placeholder-color(color)
  &::-webkit-input-placeholder
    color color !important
  &:-moz-placeholder  /* Firefox 18- */
    color color !important
  &::-moz-placeholder  /* Firefox 19+ */
    color color !important
  &:-ms-input-placeholder
    color color !important