.where-by
  padding-top 40px
  font-size 20px
  font-size 13pt

  .main-map
    width 500px
    margin 30px auto 0
    display block

  .places
    margin-top 40px

    &.retail
      margin-bottom 60px

    &.wholesale
      margin-top 60px

    .item
      margin-top 40px

      &:first-child
        margin-top 0

      .table-wrapp
        font-size 0
        display table
        .cell
          display table-cell
          vertical-align top

          &.map
            .angular-google-map-container
              width 250px
              height 200px

          &.contact-info
            padding 30px 40px 0
            width 100%
            background lightgray
            font-size 13pt
            line-height 1.8

          &.img
            img
              height 200px