.desc.rubric(class="type-{{rubric.id}}" data-set-transparent-header="" data-set-white-color-header="")
    .container
        .special-head
            .section-title.color-white {{rubric.title}}
            p.info-block {{rubric.description}}
            ul.buttons-wrapper
                .item
                    a.simple-button(data-toggle-rubric-filter="#rubric-filter-1") Фильтр по категории
                .item
                    a.simple-button(data-toggle-rubric-filter="#rubric-filter-2") Фильтр по автору
            ul.rubric-filters.rubric-filter#rubric-filter-1
                li.item(data-ng-repeat="category in rubric.booksCategories")
                    input(type="checkbox" id="filter1Prop{{$index}}" data-ng-model="rubricFilters.category[category]")
                    label.checkbox(for="filter1Prop{{$index}}")
                    label.label(for="filter1Prop{{$index}}") {{category}}
            ul.rubric-filters.rubric-filter#rubric-filter-2
                li.item(data-ng-repeat="author in rubric.booksAuthors")
                    input(type="checkbox" id="filter2Prop{{$index}}" data-ng-model="rubricFilters.author[author]")
                    label.checkbox(for="filter2Prop{{$index}}")
                    label.label(for="filter2Prop{{$index}}") {{author}}


.container
    ul.rubric-books-list(class="type-{{rubric.id}}")
        li.item.animate-repeat(data-ng-repeat="book in rubric.books | rubricFilter:rubricFilters.category:rubricFilters.author")
            a.link(data-ng-href="/book/{{book.id}}")
                img.img(data-ng-src="{{book.image}}")

.banner
    .container
        p.banner-title Мы ценим Вашу лояльность!
        p.banner-title Книги из Вашей любимой серии "Бизнес" со скидкой -20%
        button.subscribal__button(href=".main" data-scroll-to-anchor) к разделу