doctype
html(ng-app="app", ng-controller="bbGlobalCtrl")
    head
        title Bright Books
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(href="/styles/site.css", rel="stylesheet")
        link(href="/vendor/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    body
        block main-content
        include scripts