.category-books.go-up
    .container
        .banner-title.text-center Политика
        ul.category-books-list
            li.item(data-ng-repeat="book in books")
                a.link
                    img.image(src="{{book.image}}")
div(data-ng-repeat="book in books")
    .book-description(style="background-image: url('{{book.bookBanner}}')")
        .container
            .column-wrapper
                .column.two
                    .book-application.with-bg
                        p.category Раздел "{{book.category}}"
                        p.slogan {{book.title}}
                        p.title {{book.author}}
                        .chose-book-type
                            ul.type-toggler(data-tabs="")
                                li.item
                                    a.link.active(data-ng-href="#book-type-one-2-{{book.id}}" data-tab-toggler="") бумажная книга
                                li.item
                                    a.link(data-ng-href="#book-type-two-2-{{book.id}}" data-tab-toggler="") электронная
                            .price-block
                                .item(id="book-type-one-2-{{book.id}}")
                                    span.price-wrapper
                                        span.price {{book.price.analog}}&nbsp;
                                        span.currency гривен
                                    .by-link-wrapper
                                        a.by-link купить
                                    .clearfix
                                .item(id="book-type-two-2-{{book.id}}")
                                    span.price-wrapper
                                        span.price {{book.price.ebook}}&nbsp;
                                        span.currency гривен
                                    .by-link-wrapper
                                        a.by-link купить
                                    .clearfix
.banner
    .container
        p.banner-title Мы ценим Вашу лояльность!
        p.banner-title Книги из Вашей любимой серии "Бизнес" со скидкой -20%
        button.subscribal__button к разделу