.desc(style="background-image: url('{{category.bg}}');" data-set-transparent-header="")
    .container
        .banner-title.text-center(data-ng-class="{'color-black': category.textColorSchema == 'black'}") {{category.title}}
        ul.category-books-list
            li.item(data-ng-repeat="book in category.books")
                a.link(href="{{'#book-id-' + book.id}}" data-scroll-to-anchor)
                    img.image(src="{{book.image}}")
div(data-ng-repeat="book in category.books" id="{{'book-id-' + book.id}}")
    .book-description(style="background-image: url('{{book.bookBanner}}')")
        .container
            .column-wrapper-main
                .column.one(data-ng-if="book.bookFormSideSchema == 'right'")
                    .book-icon-wrapp
                .column.two
                    .book-application.with-bg
                        p.category Раздел "{{book.category}}"
                        p.slogan {{book.title}}
                        p.title {{book.author}}
                        a.subscribal__button.single(data-ng-href="/book/{{book.id}}") Пролистать книгу онлайн
                        .chose-book-type
                            ul.type-toggler(data-tabs="")
                                li.item
                                    a.link.active(data-ng-href="#book-type-one-2-{{book.id}}" data-tab-toggler="") бумажная книга
                                li.item
                                    a.link(data-ng-href="#book-type-two-2-{{book.id}}" data-tab-toggler="") электронная
                            .price-block
                                .item(id="book-type-one-2-{{book.id}}")
                                    span.price-wrapper
                                        span.price {{book.price.analog}}&nbsp;
                                        span.currency гривен
                                    .by-link-wrapper
                                        a.by-link купить
                                    .clearfix
                                .item(id="book-type-two-2-{{book.id}}")
                                    span.price-wrapper
                                        span.price {{book.price.ebook}}&nbsp;
                                        span.currency гривен
                                    .by-link-wrapper
                                        a.by-link купить
                                    .clearfix
    .desc(style="background-image: url('{{book.customBgSchema || category.bg}}');")
        .container
            div(data-ng-show="book.bookReason")
                .banner-title.text-center(data-ng-class="{'color-black': category.textColorSchema == 'black'}" ) В чем ценность книнги "{{book.title}}"
                .newpiece.true.full-with
                    img(data-ng-src="/images/books/portret.png").newpiece__image
                    .newpiece__info
                        span.newpiece__title.italic(data-ng-bind-html="book.bookReason.text")
                        .bottom-line.author {{book.bookReason.author}}
            .column-wrapper-main
                .column.one
                    .banner-title.text-left(data-ng-class="{'color-black': category.textColorSchema == 'black'}" ) Автор
                    .newpiece-wrapp
                        .newpiece.true
                            img(data-ng-src="{{book.authorAvatar}}").newpiece__image
                            .newpiece__info
                                .newpiece__date О авторе
                                .newpiece__title(data-ng-init="aboutAuthorLimit = 80") {{book.aboutAuthor | maxSymbols:aboutAuthorLimit}}
                                a.link.more.bottom-line(data-ng-show="aboutAuthorLimit < 1000000" data-ng-click="aboutAuthorLimit = aboutAuthorLimit * 1000000") развернуть &#8595;
                                a.link.more.bottom-line(data-ng-show="aboutAuthorLimit > 1000000" data-ng-click="aboutAuthorLimit = aboutAuthorLimit / 1000000") свернуть &#8593;
                        .clearfix
                .column.two
                    .newpiece-wrapp
                        .newpiece.true
                            .newpiece__info
                                .newpiece__date О книге
                                .newpiece__title(data-ng-init="aboutBookLimit = 400" ng-bind-html="book.aboutBook | maxSymbols:aboutBookLimit")
                                a.link.more.bottom-line(data-ng-show="aboutBookLimit < 1000000" data-ng-click="aboutBookLimit = aboutBookLimit * 1000000") развернуть &#8595;
                                a.link.more.bottom-line(data-ng-show="aboutBookLimit > 1000000" data-ng-click="aboutBookLimit = aboutBookLimit / 1000000") свернуть &#8593;
                        .clearfix
.banner
    .container
        p.banner-title Мы ценим Вашу лояльность!
        p.banner-title Книги из Вашей любимой серии "Бизнес" со скидкой -20%
        button.subscribal__button(href=".main" data-scroll-to-anchor) к разделу